<div class ="calosc" align="center" style="width: 50%;margin: auto;">
    
  <h1 style="margin: 25px">Przelicz koszt transferu:</h1>
  
<div class ="card-body" style="margin: 25px">
    <div class="form-group">
      

    <div class="form-group">
      <label class="col-form-label">Ile chcesz przesłać BTC:</label>
      <input type="text" placeholder="Wprowadź ilość" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="sel1">Prześlij z:</label>
        <select class="form-control" id="sel1">
          <option>Poloniex</option>
          <option>Bitbay</option>
        
        </select>
      </div>
      <div class="form-group">
          <label for="sel1">Prześlij do:</label>
          <select class="form-control" id="sel2">
            <option>Poloniex</option>
            <option>Bitbay</option>
          
          </select>
        </div>

      <div>
        <button  type="button" class="btn btn-dark">Przelicz</button>
      </div>

  </div>

</div>



</div>
    