<div class="d-flex align-items-center">
  <div class="container col-md-8">

    <h1 class="display-4"> Przelicz koszt transferu:</h1>

    <div class="card-body ">
      <div class="form-group">


        <div class="form-group ">
          <label class="col-form-label">Ile chcesz przesłać BTC?</label>
            <input type="text" placeholder="Wprowadź ilość" type="text" class="form-control col-sm-5 btc">
        </div>
        <div class="form-group">
          <label for="sel1">Prześlij z</label>
          <select class="form-control col-md-12" id="sel1">
            <option value="-1">Wybierz giełdę bazową</option>
            <option value="Poloniex">Poloniex</option>
            <option value="Bitbay">Bitbay</option>

          </select>
        </div>
        <div class="form-group">
          <label for="sel1">Prześlij do</label>
          <select class="form-control col-md-12" id="sel2">
            <option value="-1">Wybierz giełdę docelową</option>
            <option value="Poloniex">Poloniex</option>
            <option value="Bitbay">Bitbay</option>

          </select>
        </div>

        <div>
          <button type="button" class="btn button">Przelicz</button>
        </div>

      </div>

    </div>
  </div>
</div>

<!-- {{data|json}} -->