<nav id="global-nav">
  <div class="nav">
    <div class="logo">
      <span>K</span>
      <span>a</span>
      <span>l</span>
      <span>k</span>
      <span>u</span>
      <span>l</span>
      <span>a</span>
      <span>t</span>
      <span>o</span>
      <span>r</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>t</span>
      <span>r</span>
      <span>a</span>
      <span>n</span>
      <span>s</span>
      <span>f</span>
      <span>e</span>
      <span>r</span>
      <span>u</span>
      <span>
        <img src="https://preview.ibb.co/hmnk5o/bitcoin.png" class="logo" alt="logo" border="0">
      </span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>I</span>
      <span>T</span>
      <span>C</span>
      <span>O</span>
      <span>I</span>
      <span>N</span>
    </div>
  </div>
</nav>